PROJECT_ID=e0d12e1d-c889-4a80-a80c-11edf20f6220
DATASET_ENDPOINT=https://api.datamission.com.br/projects/{PROJECT_ID}/dataset?format=parquet
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJSZW5hbiBGcmVpdGFzIiwidHlwZSI6ImFwaV9rZXkiLCJleHAiOjE3ODAwNTkyNDl9.1Vswvp_I0zVtMAN8NWsuvsZGv0wg-dyK0ItktWb9nFY